<html>
    <head>
<title>{{title}}</title>
    </head>
    <body>
        <form action="/events" method="POST">
         <label for="name_of_event">Name of event:</label>
         <input type="text" name="name_of_event" id="name_of_event">
         <label for="date"></label>Date:</label>
         <input type="date" name="date" id="date"></input>
         <label for="room_location">Room:</label>
         <input type="text" name="room_location" id="room_location">
         <label for="description">Description:</label>
         <textarea name="description" id="description" rows="2" cols="30s"></textarea>
         <label for="number_of_guests">Number of guests:</label>
         <input type="text" name="number_of_guests" id="number_of_guests"></input>
        <input type="submit" value="Add Event"></input>
        </form>
        <h1>Event List</h1>
            {% for event in events %}
        <div>
            <p>{{ event.name_of_event}}</p>
            <p>{{event.date}}</p>
            <p>{{event.number_of_guests}}</p>
            <p>{{event.room_location}}</p>
            <p>{{event.description}}</p>
            



        </div>
            {% endfor %}


    </body>
</html>