<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
<title>{{title}}</title>
    </head>
    <body>
        <ul id="boxes">
        <li><label for="name_of_event">Name of event:</label><input type="text" name="name_of_event" id="name_of_event"></li>
         <li> <label for="date"></label>Date:</label>
         <input type="date" name="date" id="date"></input></li>
         <li><label for="room_location">Room:</label>
         <input type="text" name="room_location" id="room_location"></li>
         <li><label for="description">Description:</label>
         <textarea name="description" id="description" rows="2" cols="30s"></textarea></li>
         <li><label for="number_of_guests">Number of guests:</label>
         <input type="text" name="number_of_guests" id="number_of_guests"></input></li>
         <li><input type="submit" value="Add Event"></input></li>
        </ul>        
        <form action="/events" method="POST">
        </form>
        <h1>Event List</h1>
            {% for event in events %}
        <div class="event">
            <ul>
                <li><p>Name of Event - {{ event.name_of_event}}</p></li>
                <li><p>Date - {{event.date}}</p> </li>
                <li><p>Guests - {{event.number_of_guests}}</p></li>
                <li><p>Description - {{event.description}}</p></li>
                <li><p>Location - {{event.room_location}}</p></li>
            </ul>
            </div>
            {% endfor %}


    </body>
</html>